@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300&display=swap");

.hidden {
  display: none;
}

#container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: ivory;
}

ul {
  display: table;
  margin-left: auto;
  margin-right: auto;
  color:ghostwhite;
  font-weight: 700;
}

img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  opacity: 80%;
}

#clock {
  font-size: 70px;
  margin-bottom: 0px;
}

#greeting {
  font-size: 25px;
}

input {
  border: none;
  padding: 10px 0px;
  font-size: 18px;
  margin-bottom: 5px;
  border-bottom: 2.5px solid ivory;
  background-color: transparent;
}

::placeholder {
  color: black;
  text-align: center;
  font-weight: 700;
}


body,input {
  font-family: 'Noto Serif KR', serif;"
}